<a href="https://colab.research.google.com/github/Huong1703/BT-Python/blob/main/Ex04_Regiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Regiment

### Introduction:

Special thanks to: http://chrisalbon.com/ for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import requests

### Step 2. Create the DataFrame with the following values:

In [ ]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'],
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step 3. Assign it to a variable called regiment.
#### Don't forget to name each column

In [ ]:
regiment = pd.DataFrame(raw_data, columns=['regiment', 'company', 'name', 'preTestScore', 'postTestScore'])
print(regiment)

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

In [ ]:
nighthawks_mean_preTestScore = regiment[regiment['regiment'] == 'Nighthawks']['preTestScore'].mean()
print("Mean preTestScore for Nighthawks:", nighthawks_mean_preTestScore)

Mean preTestScore for Nighthawks: 15.25

### Step 5. Present general statistics by company

In [ ]:
company_statistics = regiment.groupby('company').describe()
print(company_statistics)

        preTestScore                                                      \
               count       mean        std  min   25%   50%    75%   max
company
1st              6.0   6.666667   8.524475  2.0  3.00   3.5   4.00  24.0
2nd              6.0  15.500000  14.652645  2.0  2.25  13.5  29.25  31.0

        postTestScore
                count       mean        std   min    25%   50%   75%   max
company
1st               6.0  57.666667  27.485754  25.0  34.25  66.0  70.0  94.0
2nd               6.0  67.000000  14.057027  57.0  58.25  62.0  68.0  94.0

### Step 6. What is the mean of each company's preTestScore?

In [ ]:
company_mean_preTestScore = regiment.groupby('company')['preTestScore'].mean()
print("Mean preTestScore for each company:", company_mean_preTestScore)

Mean preTestScore for each company: company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

### Step 7. Present the mean preTestScores grouped by regiment and company

In [ ]:
mean_preTestScore_by_regiment_company = regiment.groupby(['regiment', 'company'])['preTestScore'].mean().reset_index()
print("Mean preTestScores grouped by regiment and company:", mean_preTestScore_by_regiment_company)

Mean preTestScores grouped by regiment and company:      regiment company  preTestScore
0    Dragoons     1st           3.5
1    Dragoons     2nd          27.5
2  Nighthawks     1st          14.0
3  Nighthawks     2nd          16.5
4      Scouts     1st           2.5
5      Scouts     2nd           2.5

### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

In [ ]:
mean_preTestScore_by_regiment_company = regiment.pivot_table(index='regiment', columns='company', values='preTestScore', aggfunc='mean').reset_index()
print("Mean preTestScores grouped by regiment and company without hierarchical indexing:", mean_preTestScore_by_regiment_company)

Mean preTestScores grouped by regiment and company without hierarchical indexing: company    regiment   1st   2nd
0          Dragoons   3.5  27.5
1        Nighthawks  14.0  16.5
2            Scouts   2.5   2.5

### Step 9. Group the entire dataframe by regiment and company

In [ ]:
grouped_data = regiment.groupby(['regiment', 'company']).mean().reset_index()
print("Grouped DataFrame by regiment and company:", grouped_data)

Grouped DataFrame by regiment and company:      regiment company  preTestScore  postTestScore
0    Dragoons     1st           3.5           47.5
1    Dragoons     2nd          27.5           75.5
2  Nighthawks     1st          14.0           59.5
3  Nighthawks     2nd          16.5           59.5
4      Scouts     1st           2.5           66.0
5      Scouts     2nd           2.5           66.0

<ipython-input-18-822e6433b632>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_data = regiment.groupby(['regiment', 'company']).mean().reset_index()

### Step 10. What is the number of observations in each regiment and company

In [ ]:
observations_count = regiment.groupby(['regiment', 'company']).size().reset_index(name='observations_count')
print("Number of observations in each regiment and company:", observations_count)

Number of observations in each regiment and company:      regiment company  observations_count
0    Dragoons     1st                   2
1    Dragoons     2nd                   2
2  Nighthawks     1st                   2
3  Nighthawks     2nd                   2
4      Scouts     1st                   2
5      Scouts     2nd                   2

### Step 11. Iterate over a group and print the name and the whole data from the regiment

In [ ]:
for name, group_data in regiment.groupby('regiment'):
    print(f"Regiment: {name}")
    print(group_data)
    print("\n")

Regiment: Dragoons
   regiment company    name  preTestScore  postTestScore
4  Dragoons     1st   Cooze             3             70
5  Dragoons     1st   Jacon             4             25
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57


Regiment: Nighthawks
     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62


Regiment: Scouts
   regiment company   name  preTestScore  postTestScore
8    Scouts     1st  Sloan             2             62
9    Scouts     1st  Piger             3             70
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70