<a href="https://colab.research.google.com/github/Huong1703/BT-Python/blob/main/Ex06_Auto_MPG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [17]:
import pandas as pd
import requests
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars1.csv) and [cars2](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars2.csv).

In [5]:
response = requests.get('https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars1.csv')
data1 = response.text
response = requests.get('https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars2.csv')
data2 = response.text

   ### Step 3. Assign each to a variable called cars1 and cars2

In [7]:
cars1 = pd.read_csv('https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars1.csv', sep=',')
cars2 = pd.read_csv('https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars2.csv', sep=',')
print(cars1)
print(cars2)

      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0    18.0          8           307        130    3504          12.0     70
1    15.0          8           350        165    3693          11.5     70
2    18.0          8           318        150    3436          11.0     70
3    16.0          8           304        150    3433          12.0     70
4    17.0          8           302        140    3449          10.5     70
..    ...        ...           ...        ...     ...           ...    ...
193  24.0          6           200         81    3012          17.6     76
194  22.5          6           232         90    3085          17.6     76
195  29.0          4            85         52    2035          22.2     76
196  24.5          4            98         60    2164          22.1     76
197  29.0          4            90         70    1937          14.2     76

     origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0         1  chevrolet chevelle malibu         NaN          NaN          NaN
1         1          buick skylark 320         NaN          NaN          NaN
2         1         plymouth satellite         NaN          NaN          NaN
3         1              amc rebel sst         NaN          NaN          NaN
4         1                ford torino         NaN          NaN          NaN
..      ...                        ...         ...          ...          ...
193       1              ford maverick         NaN          NaN          NaN
194       1                 amc hornet         NaN          NaN          NaN
195       1         chevrolet chevette         NaN          NaN          NaN
196       1            chevrolet woody         NaN          NaN          NaN
197       2                  vw rabbit         NaN          NaN          NaN

     Unnamed: 12  Unnamed: 13
0            NaN          NaN
1            NaN          NaN
2            NaN          NaN
3            NaN          NaN
4            NaN          NaN
..           ...          ...
193          NaN          NaN
194          NaN          NaN
195          NaN          NaN
196          NaN          NaN
197          NaN          NaN

[198 rows x 14 columns]
      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0    33.0          4            91         53    1795          17.4     76
1    20.0          6           225        100    3651          17.7     76
2    18.0          6           250         78    3574          21.0     76
3    18.5          6           250        110    3645          16.2     76
4    17.5          6           258         95    3193          17.8     76
..    ...        ...           ...        ...     ...           ...    ...
195  27.0          4           140         86    2790          15.6     82
196  44.0          4            97         52    2130          24.6     82
197  32.0          4           135         84    2295          11.6     82
198  28.0          4           120         79    2625          18.6     82
199  31.0          4           119         82    2720          19.4     82

     origin                 car
0         3         honda civic
1         1      dodge aspen se
2         1   ford granada ghia
3         1  pontiac ventura sj
4         1       amc pacer d/l
..      ...                 ...
195       1     ford mustang gl
196       2           vw pickup
197       1       dodge rampage
198       1         ford ranger
199       1          chevy s-10

[200 rows x 9 columns]

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [10]:
cars1 = cars1.loc[:, ~cars1.columns.str.contains('^Unnamed')]
print(cars1)

      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0    18.0          8           307        130    3504          12.0     70
1    15.0          8           350        165    3693          11.5     70
2    18.0          8           318        150    3436          11.0     70
3    16.0          8           304        150    3433          12.0     70
4    17.0          8           302        140    3449          10.5     70
..    ...        ...           ...        ...     ...           ...    ...
193  24.0          6           200         81    3012          17.6     76
194  22.5          6           232         90    3085          17.6     76
195  29.0          4            85         52    2035          22.2     76
196  24.5          4            98         60    2164          22.1     76
197  29.0          4            90         70    1937          14.2     76

     origin                        car
0         1  chevrolet chevelle malibu
1         1          buick skylark 320
2         1         plymouth satellite
3         1              amc rebel sst
4         1                ford torino
..      ...                        ...
193       1              ford maverick
194       1                 amc hornet
195       1         chevrolet chevette
196       1            chevrolet woody
197       2                  vw rabbit

[198 rows x 9 columns]

### Step 5. What is the number of observations in each dataset?

In [12]:
observations_cars1 = cars1.shape[0]
observations_cars2 = cars2.shape[0]

print("Number of observations in cars1:", observations_cars1)
print("Number of observations in cars2:", observations_cars2)

Number of observations in cars1: 198
Number of observations in cars2: 200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [15]:
cars = pd.concat([cars1, cars2], ignore_index=True)

print("Merged DataFrame (cars):")
print(cars)

Merged DataFrame (cars):
      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0    18.0          8           307        130    3504          12.0     70
1    15.0          8           350        165    3693          11.5     70
2    18.0          8           318        150    3436          11.0     70
3    16.0          8           304        150    3433          12.0     70
4    17.0          8           302        140    3449          10.5     70
..    ...        ...           ...        ...     ...           ...    ...
393  27.0          4           140         86    2790          15.6     82
394  44.0          4            97         52    2130          24.6     82
395  32.0          4           135         84    2295          11.6     82
396  28.0          4           120         79    2625          18.6     82
397  31.0          4           119         82    2720          19.4     82

     origin                        car
0         1  chevrolet chevelle malibu
1         1          buick skylark 320
2         1         plymouth satellite
3         1              amc rebel sst
4         1                ford torino
..      ...                        ...
393       1            ford mustang gl
394       2                  vw pickup
395       1              dodge rampage
396       1                ford ranger
397       1                 chevy s-10

[398 rows x 9 columns]

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [22]:
random_owners = np.random.randint(15000, 73001, size=cars.shape[0])
cars['owners'] = random_owners

print("Create a random number Series from 15,000 to 73,000:")
print(cars)

Create a random number Series from 15,000 to 73,000:
      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0    18.0          8           307        130    3504          12.0     70
1    15.0          8           350        165    3693          11.5     70
2    18.0          8           318        150    3436          11.0     70
3    16.0          8           304        150    3433          12.0     70
4    17.0          8           302        140    3449          10.5     70
..    ...        ...           ...        ...     ...           ...    ...
393  27.0          4           140         86    2790          15.6     82
394  44.0          4            97         52    2130          24.6     82
395  32.0          4           135         84    2295          11.6     82
396  28.0          4           120         79    2625          18.6     82
397  31.0          4           119         82    2720          19.4     82

     origin                        car  owners
0         1  chevrolet chevelle malibu   61031
1         1          buick skylark 320   56156
2         1         plymouth satellite   42226
3         1              amc rebel sst   72005
4         1                ford torino   46842
..      ...                        ...     ...
393       1            ford mustang gl   67141
394       2                  vw pickup   40516
395       1              dodge rampage   60152
396       1                ford ranger   58730
397       1                 chevy s-10   15787

[398 rows x 10 columns]

### Step 8. Add the column owners to cars

In [21]:
cars['owners'] = random_owners

print("Add the column owners to cars:")
print(cars)

Add the column owners to cars:
      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0    18.0          8           307        130    3504          12.0     70
1    15.0          8           350        165    3693          11.5     70
2    18.0          8           318        150    3436          11.0     70
3    16.0          8           304        150    3433          12.0     70
4    17.0          8           302        140    3449          10.5     70
..    ...        ...           ...        ...     ...           ...    ...
393  27.0          4           140         86    2790          15.6     82
394  44.0          4            97         52    2130          24.6     82
395  32.0          4           135         84    2295          11.6     82
396  28.0          4           120         79    2625          18.6     82
397  31.0          4           119         82    2720          19.4     82

     origin                        car  owners
0         1  chevrolet chevelle malibu   32986
1         1          buick skylark 320   35892
2         1         plymouth satellite   64370
3         1              amc rebel sst   60459
4         1                ford torino   58075
..      ...                        ...     ...
393       1            ford mustang gl   43941
394       2                  vw pickup   46854
395       1              dodge rampage   18399
396       1                ford ranger   39943
397       1                 chevy s-10   27560

[398 rows x 10 columns]