<a href="https://colab.research.google.com/github/Huong1703/BT-Python/blob/main/Ex08_Wine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [49]:
import pandas as pd
import requests
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [50]:
wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', sep=',')
print(wine)

     1  14.23  1.71  2.43  15.6  127   2.8  3.06   .28  2.29   5.64  1.04  \
0    1  13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28   4.38  1.05
1    1  13.16  2.36  2.67  18.6  101  2.80  3.24  0.30  2.81   5.68  1.03
2    1  14.37  1.95  2.50  16.8  113  3.85  3.49  0.24  2.18   7.80  0.86
3    1  13.24  2.59  2.87  21.0  118  2.80  2.69  0.39  1.82   4.32  1.04
4    1  14.20  1.76  2.45  15.2  112  3.27  3.39  0.34  1.97   6.75  1.05
..  ..    ...   ...   ...   ...  ...   ...   ...   ...   ...    ...   ...
172  3  13.71  5.65  2.45  20.5   95  1.68  0.61  0.52  1.06   7.70  0.64
173  3  13.40  3.91  2.48  23.0  102  1.80  0.75  0.43  1.41   7.30  0.70
174  3  13.27  4.28  2.26  20.0  120  1.59  0.69  0.43  1.35  10.20  0.59
175  3  13.17  2.59  2.37  20.0  120  1.65  0.68  0.53  1.46   9.30  0.60
176  3  14.13  4.10  2.74  24.5   96  2.05  0.76  0.56  1.35   9.20  0.61

     3.92  1065
0    3.40  1050
1    3.17  1185
2    3.45  1480
3    2.93   735
4    2.85  1450
..    ...   ...
172  1.74   740
173  1.56   750
174  1.56   835
175  1.62   840
176  1.60   560

[177 rows x 14 columns]

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [51]:
wine = wine.drop(wine.columns[[0, 3, 6, 8, 10, 12, 13]], axis=1)
print(wine)

     14.23  1.71  15.6  127  3.06  2.29  1.04
0    13.20  1.78  11.2  100  2.76  1.28  1.05
1    13.16  2.36  18.6  101  3.24  2.81  1.03
2    14.37  1.95  16.8  113  3.49  2.18  0.86
3    13.24  2.59  21.0  118  2.69  1.82  1.04
4    14.20  1.76  15.2  112  3.39  1.97  1.05
..     ...   ...   ...  ...   ...   ...   ...
172  13.71  5.65  20.5   95  0.61  1.06  0.64
173  13.40  3.91  23.0  102  0.75  1.41  0.70
174  13.27  4.28  20.0  120  0.69  1.35  0.59
175  13.17  2.59  20.0  120  0.68  1.46  0.60
176  14.13  4.10  24.5   96  0.76  1.35  0.61

[177 rows x 7 columns]

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [52]:
wine.columns = ['alcohol', 'malic_acid', 'alcalinity_of_ash', 'magnesium', 'flavanoids', 'proanthocyanins', 'hue']
print(wine)

     alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
0      13.20        1.78               11.2        100        2.76
1      13.16        2.36               18.6        101        3.24
2      14.37        1.95               16.8        113        3.49
3      13.24        2.59               21.0        118        2.69
4      14.20        1.76               15.2        112        3.39
..       ...         ...                ...        ...         ...
172    13.71        5.65               20.5         95        0.61
173    13.40        3.91               23.0        102        0.75
174    13.27        4.28               20.0        120        0.69
175    13.17        2.59               20.0        120        0.68
176    14.13        4.10               24.5         96        0.76

     proanthocyanins   hue
0               1.28  1.05
1               2.81  1.03
2               2.18  0.86
3               1.82  1.04
4               1.97  1.05
..               ...   ...
172             1.06  0.64
173             1.41  0.70
174             1.35  0.59
175             1.46  0.60
176             1.35  0.61

[177 rows x 7 columns]

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [53]:
wine.loc[:2, 'alcohol'] = None
print(wine)

     alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
0        NaN        1.78               11.2        100        2.76
1        NaN        2.36               18.6        101        3.24
2        NaN        1.95               16.8        113        3.49
3      13.24        2.59               21.0        118        2.69
4      14.20        1.76               15.2        112        3.39
..       ...         ...                ...        ...         ...
172    13.71        5.65               20.5         95        0.61
173    13.40        3.91               23.0        102        0.75
174    13.27        4.28               20.0        120        0.69
175    13.17        2.59               20.0        120        0.68
176    14.13        4.10               24.5         96        0.76

     proanthocyanins   hue
0               1.28  1.05
1               2.81  1.03
2               2.18  0.86
3               1.82  1.04
4               1.97  1.05
..               ...   ...
172             1.06  0.64
173             1.41  0.70
174             1.35  0.59
175             1.46  0.60
176             1.35  0.61

[177 rows x 7 columns]

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [44]:
wine.loc[2:3, 'magnesium'] = None
print(wine)

     alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
0      10.00        1.78               11.2      100.0        2.76
1      10.00        2.36               18.6      101.0        3.24
2      10.00        1.95               16.8        NaN        3.49
3      13.24        2.59               21.0        NaN        2.69
4      14.20        1.76               15.2      112.0        3.39
..       ...         ...                ...        ...         ...
172    13.71        5.65               20.5       95.0        0.61
173    13.40        3.91               23.0      102.0        0.75
174    13.27        4.28               20.0      120.0        0.69
175    13.17        2.59               20.0      120.0        0.68
176    14.13        4.10               24.5       96.0        0.76

     proanthocyanins   hue
0               1.28  1.05
1               2.81  1.03
2               2.18  0.86
3               1.82  1.04
4               1.97  1.05
..               ...   ...
172             1.06  0.64
173             1.41  0.70
174             1.35  0.59
175             1.46  0.60
176             1.35  0.61

[177 rows x 7 columns]

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [34]:
wine['alcohol'].fillna(10, inplace=True)
wine['magnesium'].fillna(100, inplace=True)
print(wine)

     alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
0      10.00        1.78               11.2      100.0        2.76
1      10.00        2.36               18.6      101.0        3.24
2      10.00        1.95               16.8      100.0        3.49
3      13.24        2.59               21.0      100.0        2.69
4      14.20        1.76               15.2      112.0        3.39
..       ...         ...                ...        ...         ...
172    13.71        5.65               20.5       95.0        0.61
173    13.40        3.91               23.0      102.0        0.75
174    13.27        4.28               20.0      120.0        0.69
175    13.17        2.59               20.0      120.0        0.68
176    14.13        4.10               24.5       96.0        0.76

     proanthocyanins   hue
0               1.28  1.05
1               2.81  1.03
2               2.18  0.86
3               1.82  1.04
4               1.97  1.05
..               ...   ...
172             1.06  0.64
173             1.41  0.70
174             1.35  0.59
175             1.46  0.60
176             1.35  0.61

[177 rows x 7 columns]

### Step 9. Count the number of missing values

In [35]:
missing_values = wine.isna().sum()
print(missing_values)

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [36]:
random_numbers = np.random.randint(10, size=10)
print(random_numbers)

[9 5 4 7 9 5 5 4 8 9]

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [37]:
data = {'A': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}
df = pd.DataFrame(data)

df.iloc[random_numbers, 0] = np.nan

print(df)

     A
0  1.0
1  2.0
2  3.0
3  4.0
4  NaN
5  NaN
6  7.0
7  NaN
8  NaN
9  NaN

### Step 12.  How many missing values do we have?

In [38]:
missing_values = df['A'].isnull().sum()
print("Number of missing values:", missing_values)

Number of missing values: 5

### Step 13. Delete the rows that contain missing values

In [57]:
df = df.dropna(subset=['A'])
print(df)

     A
0  1.0
1  2.0
2  3.0
3  4.0
6  7.0

### Step 14. Print only the non-null values in alcohol

In [56]:
print(wine['alcohol'].dropna())

3      13.24
4      14.20
5      14.39
6      14.06
7      14.83
       ...
172    13.71
173    13.40
174    13.27
175    13.17
176    14.13
Name: alcohol, Length: 174, dtype: float64

### Step 15.  Reset the index, so it starts with 0 again

In [59]:
wine_reset_index = wine['alcohol'].dropna().reset_index(drop=True)
print(wine_reset_index)

0      13.24
1      14.20
2      14.39
3      14.06
4      14.83
       ...
169    13.71
170    13.40
171    13.27
172    13.17
173    14.13
Name: alcohol, Length: 174, dtype: float64

### BONUS: Create your own question and answer it.